/** Colors **/
$main-color:   #84bc00;
$secondary-color: #1b79be;

$red:          #f27063;
$green:        #47bc9e;
$orange:       #f6921e;
$blue:         #1b79be;
$white:        #fefefe;
$almost-white: #f8f8f8;
$smooth-grey:  #e8e8e8;
$lightgrey:    #bdc3c7;
$grey:         #666666;
$dark-grey:    #3f3f3f;
$black:        #0a0a0a;