<div class="phe-preparing-call-wrapper">

  <div class="phe-preparing-call-caller-image">
    <div class="phe-preparing-call-avatar-waves"></div>
    <div class="phe-preparing-call-callee-avatar" data-id="callee-avatar"></div>
  </div>

  <div class="phe-preparing-call-caller-info">
    <div class="phe-preparing-call-caller-name" data-id="callee-name"></div>
    <div class="phe-preparing-call-service-name" data-id="service-name"></div>
  </div>

  <div class="phe-preparing-call-type-text" data-id="message"></div>

  <div class="phe-preparing-call-buttons">
    <div data-id="cancel-button" class="action phe-bg-red">
      <img src="phemium-videocall/images/videocall-close.png" />
    </div>
    <div data-id="accept-button" class="action phe-bg-green">
      <img src="phemium-videocall/images/videocall-close.png" class="rotate-45"/>
    </div>
  </div>
</div>